body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: D-DIN;
  src: url("./assets/D-DIN.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: D-DIN;
  src: url("./assets/D-DIN-Bold.otf") format("opentype");
  font-weight: bold;
}